# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [1]:
nums = [1,2,3,4]
nums

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [2]:
# Method 1 
n = nums.copy()
n.pop(2)
n

[1, 2, 4]

In [3]:
# Method 2
n = nums.copy()
del n[2]
n

[1, 2, 4]

In [4]:
# Method 3
n = nums.copy()
n.remove(3)
print(n)

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [5]:
lst = [2, 3, 4]
lst.insert(0,1)
print(lst)

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [6]:
lst.insert(2, "two-and-half")
print(lst)

[1, 2, 'two-and-half', 3, 4]

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [7]:
phrase = "Don't panic!"

*convert into list*

In [9]:
phraselst = list(phrase)
print(phraselst)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [10]:
newlst = phraselst.copy()
newlst.remove("'")
newlst.remove("!")
newlst

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [11]:
nl = newlst.copy()
nl.remove("p")
nl.pop(6)
nl.remove("a")
nl.remove("D")
nl.extend(("p","a","n","D"))
nl

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [12]:
nl.append("a")

panda = nl[-5:]
string = str("".join(panda))
print(f"'{string}'")

'panDa'

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [1]:
num = (31,24,35,85)
print("data type ",type(num))
print(num)

data type  <class 'tuple'>
(31, 24, 35, 85)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [104]:
num1 = list(num)
num1.pop(2)
print(tuple(num1))

(31, 24, 85)

(31, 24, 85)

**Extent** tuple (85,19)

In [105]:
num1.extend((85,19))
print(tuple(num1))

(31, 24, 85, 85, 19)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [1]:
tpl = ('i','n','n','0')
if "i" in tpl:
    print(True)
else:
    print(False)

True

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [5]:
lst = ['Hello', 100, [], 'innomatics']
lst[2].insert(0,200)
lst

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [13]:
# CODE HERE
tpl = ("Innomatics")
rlst = []
for i in tpl[::-1]:
    rlst.append(i)
rtpl = tuple(rlst)
print(rtpl)

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [14]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [37]:
# CODE HERE
ltpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
emptylst = []
for i in ltpl:
    nl = list(i)
    nl.append(100)
    emptylst.append(tuple(nl))
print(emptylst)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [38]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
emptylst = []
for i in tpl:
    nl = list(i)
    nl.pop()
    nl.append(100)
    emptylst.append(tuple(nl))
print(emptylst)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [56]:
string = '5 2 3 6 6 5'
print(string)
lst = list(string.split())

fil = list(set([i for i in lst if i!=max(lst)]))
for i in fil:
    if i==max(fil):
        print('second highest is: ', i)

5 2 3 6 6 5
second highest is:  5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [76]:
lst = [12,24,35,70,88,120,155]
nl = [x for x in lst if (x!=lst[0] and x!=lst[4] and x!=lst[5])]
nl

[24, 35, 70, 155]

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [4]:
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(tup[0:5], tup[5:10])

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [96]:
tup = 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
even = tuple([i for i in tup if i%2==0])
even

(2, 4, 6, 8, 10)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

*Lists are represented in square brackets[] whereas tuples are represented in parantheses()
*Lists are mutable, which means any changes made in list using methods like append, insert, remove, etc will reflect on the original list.
*Tuples are immutable. Hence there are no methods in tuples to add or remove elements.
*Lists occupy more memory compared to tuples
*Lists take more time to run compared to tuples

### 2. Explain the difference between append() and extend() with examples

append() and extend() are methods of lists which lets us add element(s) to the end of the list.
*append() method lets us add one element at the end of the list while using extend() we can add multiple elements at once
*append() takes input as an object while in extend() we can give an iterable such as a list or tuple, as input 
Example:

In [2]:
a = [1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [6]:
b = [2,4,6,8]
b.extend((9,12,15))
b.extend(a)
print(b)

[2, 4, 6, 8, 9, 12, 15, 1, 2, 3, 4, 10]

### 3. Explain the difference between pop() and remove() with examples

pop() method is one of the methods in lists and when no input is given it removes the last element of the list. It takes either 0 arguments and takes -1 as default index or it takes one argument and removes the element present in the given index position.
remove() is also a method in list and takes an element from the list as input and removes the first occurance of that element in the list. It takes exactly one argument

In [5]:
a=[1,2,3,4, "hello", "hyd", 4, 5, 6]
a.pop()
print(a)

[1, 2, 3, 4, 'hello', 'hyd', 4, 5]

In [6]:
a.pop(1)
print(a)

[1, 3, 4, 'hello', 'hyd', 4, 5]

In [7]:
a.remove(4)
print(a)

[1, 3, 'hello', 'hyd', 4, 5]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)