# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [1]:
person1 = {'Name': 'John',
           'Gender': 'Male',
           'Location': 'Nizampet, Hyderabad',
           'Occupation': 'Data Scientist'}

In [4]:
person1

{'Name': 'John',
 'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [32]:
print(list(person1.keys()))

['Gender', 'Location', 'Name', 'Occupation']

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [5]:
p1 = person1.copy()
p1.pop('Location')
p1['Age'] = 27
p1['Name'] = 'Srikanth'
k = list(p1.keys())
k.sort()
p1 = {i : p1[i] for i in k}
p1

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [7]:
person2 = {'Name': 'Raghu Ram', 'Gender': 'Male', 'Age':25, 'Occupation': 'Data Scientist'}

In [8]:
p2 = person2.copy()
k2 = list(p2.keys())
k2.sort()
p2 = {i: p2[i] for i in k2}

p2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

## person2

> **`Question:` Print the output as show below**

In [46]:
print('==================person1==================')
print(person1)
print('==================person2==================')
print(p2)

==================person1==================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================person2==================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

In [6]:
# CODE HERE

==================== person1 ====================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [9]:
d = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
print(d)
d.popitem()
print(d)
d.pop(2)
print(d)
del d[5]
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 3: 9, 4: 16, 6: 36}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [48]:
d1 = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
k1 = list(d1.keys())
k1.sort()
k1.reverse()
k1
d1 = {i:d1[i] for i in k1}
d1

{9: 81, 7: 49, 5: 25, 3: 9, 1: 1, 0: 0}

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [49]:
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
dict1.update(dict2)
dict1.update(dict3)
dict1

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charanâ€™s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [50]:
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}
sample_dict['emp3']['salary']=8500
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key â€˜historyâ€™ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [51]:
sampleDict = {"class": {"student": {"name": "Mike","marks": {"physics": 70,"history": 80}}}}
sampleDict['class']['student']['marks']['history']

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [10]:
dict1 = {'Gender': 'Male',
         'Location': 'Nizampet, Hyderabad',
         'Name': 'John',
         'Occupation': 'Data Scientist'}


dict1['Area'] = dict1['Location']
del dict1['Location']
dict1

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [67]:
database = {'ram':1234, 'raghu':5678, 'kanav':1357}

In [68]:
u =input('Enter username: ')
p = int(input('Enter password: '))
if u in database.keys():
    if p == database[u]:
        print(f'hello {u}')

Enter username: raghu
Enter password: 5678
hello raghu

In [70]:
u =input('Enter username: ')
p = int(input('Enter password: '))
if u in database.keys():
    if p == database[u]:
        print(f'hello {u}')
    else:
        update = input('you want me to add into the database?(Y/N)')
        if update == 'Y':
            new_u = input('give username: ')
            new_p = int(input('create password with only integers: '))
            database[new_u]=new_p
            print(database) 
else:
    update = input('you want me to add into the database?(Y/N)')
    if update == 'Y':
        new_u = input('give username: ')
        new_p = int(input('create password with only integers: '))
        database[new_u]=new_p
        print(database)

Enter username: madhu
Enter password: 1248
you want me to add into the database?(Y/N)Y
give username: madhu
create password with only integers: 1248
{'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'madhu': 1248}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)