# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [1]:
print("My name is Madhu")

My name is Madhu

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

A variable doesn't have a fixed value and hence we can assign a value (of any data type) to the variable.
Variable stores the values assigned to it using the assignment operator and makes it easy to access the value in the succeeding code

In [2]:
x=10

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

1. width/2 = 8.5 (float)
2. width/2.0 = 8.5 (float)
3. heigt/3 = 4.0 (float)
4. 11 (integer)
5. '.....' (string)

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

In [10]:
width = 17
height = 12.0
delimiter = '.'

In [16]:
print('width/2 = ',width/2, type(width/2))
print('width/2.0 = ',width/2.0, type(width/2.0))
print('height/3 = ',height/3, type(height/3))
print('1+2*5 = ',1 + 2 * 5, type(1+2*5))
print(delimiter * 5, type(delimiter*5))

width/2 =  8.5 <class 'float'>
width/2.0 =  8.5 <class 'float'>
height/3 =  4.0 <class 'float'>
1+2*5 =  11 <class 'int'>
..... <class 'str'>

> `Question:` Add two number by taking variable names as first and seccond

In [3]:
first = 10
second = 12.57

In [4]:
first+second

22.57

> `Question:` Add your first name and second name

In [5]:
first_name = input()
second_name = input()

Madhu
Chadalavada

In [7]:
print("My first name is: ", first_name)
print("My second name is: ", second_name)
print(f'My full name is: {first_name} {second_name}')

My first name is:  Madhu
My second name is:  Chadalavada
My full name is: Madhu Chadalavada

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [9]:
print(10, type(10))
print(r"'10'", type("10"))
print(True, type(True))
print(type(10.5))

10 <class 'int'>
'10' <class 'str'>
True <class 'bool'>
<class 'float'>

10 -  <class 'int'>
'10' -  <class 'str'>
True -  <class 'bool'>
10.5 -  <class 'float'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [10]:
num_int = 123
num_str = "456"

In [11]:
print("Addition of 123 and 456 is: ",(num_int+int(num_str)))

Addition of 123 and 456 is:  579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [13]:
r=5
vol = 4*3.14*r**3/3
print(vol)

523.3333333333334

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [15]:
book_price = 24.95
n = 60
discount = 40
shipping1 = 3
total_shipping = shipping1 + 0.75*(n-1)
price_of_n_books = n*book_price*(1-discount/100)
total_cost = price_of_n_books + total_shipping

In [17]:
print("Total cost for 60 books is : ",total_cost)

Total cost for 60 books is :  945.4499999999999

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)